.robot-container {
  position: fixed;
  top: 150px;
  left: 50px;
  bottom: 300px;
}

.robot-face-shape {
  #rectangle {
    width: 200px;
    height: 100px;
    background: lightgray;
  }
}

.robot-eye-left {
  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid blue;
    border-right: 100px solid transparent;
  }
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
