.robot-container {
  position: centered;
  top: 300px;
  left: 50px;
  bottom: 300px;
  margin-top: 80px;
}

.robot-face-shape {
  position: relative;
  width: 800px;
  height: 700px;
  background: lightgray;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: auto;
}

.robot-eye-left {
  width: 0;
  height: 0;
  border-top: 100px solid blue;
  border-right: 100px solid transparent;
  position: relative;
  margin-left: 120px;
  top: 200px;
}

.robot-eye-right {
  width: 0;
  height: 0;
  border-top: 100px solid green;
  border-left: 100px solid transparent;
  position: relative;
  margin-left: 600px;
  top: 90px;
}

.robot-ear-left {
  display: block;
  width: 126px;
  height: 180px;
  background-color: cyan;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: absolute;
  margin-top: -650px;
  margin-left: 330px;
}

.robot-ear-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
  position: relative;
  margin-left: 1254px;
  margin-top: -600px;
}

.robot-nose {
  width: 100px;
  height: 100px;
  background: peru;
  border-radius: 50%;
  margin-left: 360px;
  margin-top: 75px;
}

.robot-teeth {
  width: 400px;
  height: 200px;
  background: black;
  border-radius: 100px / 50px;
  margin-left: 200px;
  margin-top: 50px;
}

.robot-tooth {
  width: 60px;
  height: 60px;
  background: aqua;
  margin-left: 90px;
}

.robot-hair-style {
}

.robot-hair-one {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid green;
  margin-left: 600px;
  margin-top: -460px;
}

.robot-hair-two {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid pink;
  margin-left: 800px;
  margin-top: -60px;
}

.robot-hair-three {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid purple;
  margin-left: 1000px;
  margin-top: -60px;
}
